/* color palette */
:root {
  --color-pure-white: #ffffff;
  --color-pure-black: #000000;
  
  --color-blue-gray-050: #eceff1;
  --color-blue-gray-100: #cfd8dc;
  --color-blue-gray-200: #b0bec5;
  --color-blue-gray-300: #90a4ae;
  --color-blue-gray-400: #78909c;
  --color-blue-gray-500: #607d8b;
  --color-blue-gray-600: #546e7a;
  --color-blue-gray-700: #455a64;
  --color-blue-gray-800: #37474f;
  --color-blue-gray-900: #263238;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-pure-white);
  --color-background-soft: var(--color-blue-gray-050);
  --color-background-mute: var(--color-blue-gray-200);

  --color-border: var(--color-blue-gray-500);
  --color-border-hover: var(--color-blue-gray-700);

  --color-heading: var(--color-blue-gray-900);
  --color-text: var(--color-blue-gray-900);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: Inter, 'Segoe UI', Roboto, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
